.area-botao{
  width: 100%;
  margin-top: 40px;
}

.botao-voltar {
  padding: 4px 20px;
  text-decoration: none;
  width: 100%;
  background-color: #F56565;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}